/*

!/.gitignore
!/setup.py
!/setup.cfg
!/LICENSE
!/*.md
!/requirements.txt

!tests/
tests/*
!tests/test_api.py
!tests/test_api_auth.py
!tests/test_parser.py
!tests/conftest.py

!codeforces_api/
codeforces_api/*
!codeforces_api/__init__.py
!codeforces_api/api_request_maker.py
!codeforces_api/api_requests.py
!codeforces_api/parse_methods.py
!codeforces_api/types.py
!codeforces_api/version.py

!/.github
