appdirs==1.4.4
astroid==2.6.5
atomicwrites==1.4.0
attrs==21.2.0
black==21.7b0
bleach==3.3.1
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.4
click==8.0.1
colorama==0.4.4
docutils==0.17.1
idna==2.10
importlib-metadata==4.6.1
iniconfig==1.1.1
isort==5.9.3
keyring==23.0.1
lazy-object-proxy==1.6.0
lxml==4.6.3
mccabe==0.6.1
mypy-extensions==0.4.3
packaging==21.0
pathspec==0.9.0
pkginfo==1.7.1
pluggy==0.13.1
py==1.10.0
Pygments==2.9.0
pylint==2.9.4
pyparsing==2.4.7
pytest==6.2.4
pywin32-ctypes==0.2.0
readme-renderer==29.0
regex==2021.7.6
requests==2.26.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
six==1.16.0
toml==0.10.2
tomli==1.1.0
tqdm==4.62.0
twine==3.4.2
typed-ast==1.4.3
typing-extensions==3.10.0.0
urllib3==1.26.6
webencodings==0.5.1
wrapt==1.12.1
zipp==3.5.0
